Repository jobtriage/jobtriage, pull requests merged in 2020-03, with the labels that each got.

#44 Add Design Guidelines Doc
  DESIGN_GUIDELINES.md
  README.md
Labels: Design, Documentation, Front-End

#56 [Feature]: Add sass
  Gemfile
  frontend/package.json
  frontend/src/Components/AccountDetails/AccountDetails.js
  frontend/src/Components/AccountDetails/AccountDetails.module.scss
  frontend/src/Components/LandingPage/Header/Header.js
  frontend/src/Components/LandingPage/Header/Header.module.scss
  frontend/src/Components/LandingPage/LandingBody/LandingBody.js
  frontend/src/Components/LandingPage/LandingBody/LandingBody.module.scss
  frontend/src/Components/LandingPage/LandingPage.js
  frontend/src/Components/Navbar/NavBar.css
  frontend/src/Components/Navbar/NavBar.js
  frontend/src/Components/Navbar/NavBar.module.scss
  frontend/src/Components/index.js
  frontend/src/Containers/AccountDetails/AccountDetails.css
  frontend/src/Containers/App/App.css
  frontend/src/Containers/App/App.js
  frontend/src/Containers/App/App.module.scss
  frontend/src/Containers/Dashboard/AddJob/AddJob.js
  frontend/src/Containers/Dashboard/AddJob/AddJob.module.scss
  frontend/src/Containers/Dashboard/Dashboard.css
  frontend/src/Containers/Dashboard/Dashboard.js
  frontend/src/Containers/Dashboard/Dashboard.module.scss
  frontend/src/Containers/Dashboard/viewjob/ViewJob.css
  frontend/src/Containers/Dashboard/viewjob/ViewJob.js
  frontend/src/Containers/Dashboard/viewjob/ViewJob.module.scss
  frontend/src/Containers/LandingPage/Header/Header.js
  frontend/src/Containers/LandingPage/LandingBody/LandingBody.css
  frontend/src/Containers/LandingPage/LandingPage.css
  frontend/src/Containers/LandingPage/LandingPage.js
  frontend/src/Containers/Onboarding/Login/LoginPage.css
  frontend/src/Containers/Onboarding/Login/LoginPage.js
  frontend/src/Containers/Onboarding/Login/LoginPage.module.scss
  frontend/src/Containers/Onboarding/Signup/SignupPage.css
  frontend/src/Containers/Onboarding/Signup/SignupPage.js
  frontend/src/Containers/Onboarding/Signup/SignupPage.module.scss
  frontend/src/Material-UI/Components/Button/Button.css
  frontend/src/Material-UI/Components/Button/Button.js
  frontend/src/Material-UI/Components/Input/Input.js
  frontend/src/Material-UI/Components/Select/Select.js
  frontend/src/global-styles/index.css
  frontend/yarn.lock
Labels: Enhancement, Front-End

#60 [NavBar]: Fix bug for active style
  frontend/src/Components/Navbar/NavBar.js
  frontend/src/Components/Navbar/NavBar.module.scss
Labels: Bug, Front-End

#62 [LandingPage]: Improve typography and Landing Page
  frontend/package.json
  frontend/src/Components/LandingPage/Header/Header.js
  frontend/src/Components/LandingPage/Header/Header.module.scss
  frontend/src/Components/LandingPage/LandingBody/LandingBody.js
  frontend/src/Components/LandingPage/LandingBody/LandingBody.module.scss
  frontend/src/Components/index.js
  frontend/src/Material-UI/Components/AppBar/AppBar.js
  frontend/src/Material-UI/Components/Button/Button.js
  frontend/src/Material-UI/Components/Typography/Typography.js
  frontend/src/Material-UI/import/index.js
  frontend/yarn.lock
Labels: Enhancement, Front-End

#66 Fix Eslint Errors
  frontend/package.json
  frontend/src/Components/AccountDetails/AccountDetails.js
  frontend/src/Components/LandingPage/Header/Header.js
  frontend/src/Components/LandingPage/LandingBody/LandingBody.js
  frontend/src/Components/index.js
  frontend/src/Containers/App/App.js
  frontend/src/Containers/Dashboard/AddJob/AddJob.js
  frontend/src/Containers/Dashboard/Dashboard.js
  frontend/src/Containers/Dashboard/viewjob/ViewJob.js
  frontend/src/Containers/Onboarding/Login/LoginPage.js
  frontend/src/Containers/Onboarding/Signup/SignupPage.js
  frontend/src/Material-UI/Components/AppBar/AppBar.js
  frontend/src/Material-UI/Components/Button/Button.js
  frontend/src/Material-UI/Components/Input/Input.js
  frontend/src/Material-UI/Components/Select/Select.js
  frontend/src/Material-UI/Components/Typography/Typography.js
  frontend/src/Material-UI/Components/index.js
  frontend/src/Material-UI/import/index.js
  frontend/src/Material-UI/theme/index.js
  frontend/src/index.js
Labels: Front-End

#69 [NavBar]: Improve the Component
  frontend/src/Components/AccountDetails/AccountDetails.js
  frontend/src/Components/AccountDetails/AccountDetails.module.scss
  frontend/src/Components/NavBar/NavBar.js
  frontend/src/Components/Navbar/NavBar.js
  frontend/src/Components/Navbar/NavBar.module.scss
  frontend/src/Components/UI/ListItemWithLink/ListItemWithLink.js
  frontend/src/Containers/Dashboard/Dashboard.js
  frontend/src/Containers/Dashboard/Dashboard.module.scss
  frontend/src/Material-UI/Components/Divider/Divider.js
  frontend/src/Material-UI/Components/List/List.js
  frontend/src/Material-UI/Components/List/ListItem/ListItem.js
  frontend/src/Material-UI/Components/List/ListItem/ListItemIcon/ListItemIcon.js
  frontend/src/Material-UI/Components/List/ListItem/ListItemText/ListItemText.js
  frontend/src/Material-UI/Components/index.js
  frontend/src/Material-UI/import/index.js
  frontend/src/Material-UI/theme/index.js
Labels: Enhancement, Front-End

#74 [Toast]: Add Component for Showing Brief Message
  frontend/src/Containers/App/App.js
  frontend/src/Containers/Dashboard/AddJob/AddJob.js
  frontend/src/Containers/Dashboard/Dashboard.js
  frontend/src/Containers/ViewJob/BaiscDetails.js
  frontend/src/Containers/ViewJob/ViewJob.js
  frontend/src/Material-UI/Components/Toast/Toast.js
  frontend/src/Material-UI/Components/index.js
  frontend/src/index.js
  frontend/src/store/context.js
Labels: Front-End, New Component
