Repository jobtriage/jobtriage, pull requests merged in 2020-04, with the labels that each got.

#82 Fix fonts loading - Google font is loading multiple times (#79)
  frontend/public/index.html
  frontend/src/global-styles/index.css
Labels: Bug, Front-End

#86 [Docs] Add contributing guidelines
  CONTRIBUTING.md
  README.md
Labels: Documentation

#88 Add change password and forgot password
  app/controllers/auth_controller.rb
  app/mailers/user_mailer.rb
  app/models/user.rb
  app/views/user_mailer/forgot_password_email.html.erb
  app/views/user_mailer/forgot_password_email.text.erb
  config/routes.rb
Labels: Back-End, Enhancement

#94 Add forgot password UI
  frontend/src/Containers/App/App.js
  frontend/src/Containers/Onboarding/ForgotPassword/ForgotPassword.js
  frontend/src/Containers/Onboarding/Login/LoginPage.js
  frontend/src/Containers/Onboarding/Login/LoginPage.module.scss
  frontend/src/Containers/Onboarding/Signup/SignupPage.js
  frontend/src/service/APIService.js
Labels: Enhancement, Front-End

#102 Feat: Add time log
  app/controllers/timelogs_controller.rb
  app/models/application.rb
  app/models/timelog.rb
  config/routes.rb
  frontend/package.json
  frontend/src/Components/AccountDetails/AccountDetails.js
  frontend/src/Components/NavBar/NavBar.js
  frontend/src/Containers/ViewJob/BaiscDetails.js
  frontend/src/Containers/ViewJob/TimeLog/AddTimeLog.js
  frontend/src/Containers/ViewJob/TimeLog/TimeLog.js
  frontend/src/Containers/ViewJob/ViewJob.js
  frontend/src/service/APIService.js
  frontend/yarn.lock
  test/controllers/timelogs_controller_test.rb
  test/fixtures/timelogs.yml
  test/models/timelog_test.rb
Labels: Back-End, Enhancement, Front-End

#106 Add release issue fixes
  frontend/package.json
  frontend/src/Components/AccountDetails/AccountDetails.js
  frontend/src/Components/LandingPage/LandingPage.js
  frontend/src/Containers/App/App.js
  frontend/src/Containers/App/App.module.scss
  frontend/src/Containers/Dashboard/AddJob/AddJob.js
  frontend/src/Containers/Dashboard/AddJob/AddJob.module.scss
  frontend/src/Containers/Onboarding/ForgotPassword/ForgotPassword.js
  frontend/src/Containers/Onboarding/Login/LoginPage.js
  frontend/src/Containers/Onboarding/Login/LoginPage.module.scss
  frontend/src/Containers/Onboarding/Signup/SignupPage.js
  frontend/src/Containers/Onboarding/Signup/SignupPage.module.scss
  frontend/src/Containers/Onboarding/VerifiedRoute/VerifiedRoute.js
  frontend/src/Containers/SelfAnalysis/SelfAnalysis.js
  frontend/src/index.js
  frontend/src/store/actions/index.js
  frontend/src/store/context.js
  frontend/src/store/reducers/index.js
  frontend/src/store/reducers/users.js
  frontend/yarn.lock
Labels: Bug, Front-End

#107 Add loader
  frontend/src/Components/AccountDetails/AccountDetails.js
  frontend/src/Containers/App/App.js
  frontend/src/Containers/Dashboard/Dashboard.js
  frontend/src/Containers/Onboarding/ForgotPassword/ForgotPassword.js
  frontend/src/Containers/Onboarding/Login/LoginPage.js
  frontend/src/Containers/Onboarding/Signup/SignupPage.js
  frontend/src/Containers/SelfAnalysis/SelfAnalysis.js
  frontend/src/store/context.js
Labels: Front-End
